#main{
    margin-top: 40px;
}
#wrapper{
    width: 960px;
    background-color: white;
}
.marginCenter{
    margin-left: auto;
    margin-right: auto;
}
.Helvetica{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#top {
    height: 125px;
    line-height:125px;
}
.grSmall{
    width: 400px;
}
.floatLeft{
    float: left;
}
#logo {
    height: 100px;
}
.grBig{
    width:600px;
}
.textRight{
    text-align: right;
}
.wrapperPaddingRight{
    padding-right: 50px;
}
.clearMArgin{
    margin:0px;
}
.clearPadding{
    padding: 0px;
}
.displayInline{
    display: inline;
}

#banner h1 {
    position: relative;
    top: 150px;
    left: -550px;
}
h2 {
    position: relative;
    top: 170px;
    left: -400px;
    font-family: Arial, sans-serif;
    color: blue;}
#banner{
    background-image:url("../images/4x4-adventure-automobile-1571783.jpg");
    background-size: cover;
    height: 500px;
    position: relative;
    top: 100px;
}
.grFont{
    line-height: 30px;
    font-size: 15px;
}
.contentMargin{
    margin-left:auto;
    margin-right: auto;
}
.contentText{
    margin-left:250px;
    font-size: 15px;
}
.contentHeading{
    margin-left:200px;
    font-size:17px;
}
.thinBorder{
    border: 1px black solid;
}
.table{
    margin-left:250px;
}
.textRight{
    text-align:right;
}
#cardTop{
    bottom: 500px;
}