#wrapper{
    width: 960px;
    background-color: white;
}
.marginCenter{
    margin-left: auto;
    margin-right: auto;
}
.Helvetica{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#top {
    height: 125px;
    line-height:125px;
}
.grSmall{
    width: 400px;
}
.floatLeft{
    float: left;
}
#logo {
    height: 100px;
}
.grBig{
    width:600px;
}
.textRight{
    text-align: right;
}
.wrapperPaddingRight{
    padding-right: 50px;
}
.clearMArgin{
    margin:0px;
}
.clearPadding{
    padding: 0px;
}
.displayInline{
    display: inline;
}

#banner h1 {
    position: relative;
    top: 300px;
    right: 25px;
}
##banner h2 {
     position: relative;
     top: 500px;
     left: 225px;
     font-family: Arial, sans-serif;
     color: blue;
 }
.grFont{

}
